.header__nav{
  padding: 0 50px
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 1rem;
}

.width-gap{
  margin: 50px;
  color: red;
  background: #000;
}



